.base-list {
  display: block;
  list-style: none;

  .list-item {
    display: block;
    width: 100%;
    border-bottom: 1px solid color-mix(in srgb, transparent, currentcolor 12%);
    color: currentcolor;
    text-decoration: none;

    .list-item-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      position: relative;
      height: auto;
      min-height: 40px;

      .list-item-icon {
        flex-shrink: 0;
        height: 36px;
        width: 36px;
        margin-right: 12px;
        font-size: 24px;
        flex-direction: column;
        box-sizing: border-box;
        display: flex;
        place-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 20px;
        background-color: color-mix(in srgb, transparent, currentcolor 12%);
        color: color-mix(in srgb, transparent, currentcolor 87%);
        padding: 4px;

        svg {
          fill: currentcolor;
        }
      }

      .list-item-text {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow: hidden;
        padding: 0;
      }
    }

    &[disabled],
    &.disabled {
      color: color-mix(in srgb, transparent, currentcolor 34%);

      .list-item-icon {
        color: color-mix(in srgb, transparent, currentcolor 34%);
      }
    }

    &.disabled {
      pointer-events: none;
    }
  }
}

.action-list {
  /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
  @extend .base-list;

  .list-item {
    cursor: pointer;
    outline: inherit;

    &:not([disabled]):hover,
    &:not(.disabled):hover {
      border-image: none;
      border-color: color-mix(in srgb, transparent, currentcolor 12%);
      background: color-mix(in srgb, transparent, currentcolor 4%);

      &:first-child {
        margin-top: -1px;
        border-top: 1px solid color-mix(in srgb, transparent, currentcolor 12%);
      }
    }
  }
}
